html, body {margin: 0; padding: 0;}

header {text-align: center;}
.t1 {background-color: #E6FFFF; margin: auto; height: 80vh;}
.t2 {background-color: white; width: 70%; margin: auto; height: 70%; border-radius: 20%; clear: both;}
#login {cursor: pointer; }

section {height: 80%;}
table {margin: auto; clear: both; border-style: none;}
table tbody tr{border-style: groove;}
table tbody tr:hover{background: orange; }
table th, td {padding: 0 20px; font-size: 18px; border: none;}

.button-right {text-align: right;}
.padding10 {padding: 5px 10px;}
.width45 {width: 45%; display: inline-block;}
a {text-decoration:none; list-style: none;}
.left {float: left;}
.left:after {clear: both;}
.right {float: right;}
.right:after {clear:both;}
.log input{float: left; display: inline-block;}
.write a{float: left; display: inline-block;}

h3 {text-align: center;}
